body,html {
	height: 100%;
}

body {
    background-image: url("../images/vidGameLage.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
}

h1 {
	font-size: 100px;
}

h2 {
	top: 50%;
	font-size: 25px;
}

p {
	font-size: 35px;
}

h1,h2,p {
	color: #ffffff;
}

#displayArea {
	position: absolute;
	margin: auto;
	text-align: center;
	background-color: rgba(102,0,102,0.7);
	width: 70%;
	height: 80%;
	top: 10%;
	left: 15%;
}

#content{
	position: absolute;
	margin: auto;
	left: 11%;
	top: 40%;
	width: 80%;
}

button {
	position: absolute;
	top: 60%;
	left: 25%;
	width: 50%;
	font-size: 200%;
}